.carousel-item {
  height: 110px;
  min-height: 80px;
}

.carousel-item img {
  height: 261px;
  margin: 0% auto;
  object-fit: revert;

}

.carousel-inner {
  display: flex;
}

.carousel-item {
  position: relative;
  text-align: center;

}

.carousel-item.active{
  height: auto;

}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.nav-item {
  border: 1px solid gray;
  border-radius: 5px;
}

.body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 9em;
}

.pie {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #E5E5E5;
}

.centrar {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

#img_event{
  object-fit: cover;
    height: auto;
    width: 20%;
}

#img_card{
  object-fit: cover;
    height: 150px;
    width: auto;
}

.flex-row-reverse{
  margin-bottom: 50px;

}